# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

'.source.cpu12':
    'While':
      'prefix': 'while'
      'body': '\n\t\t\tLDD \t#\\$0000\n\t\t\tPSHD\n\t\t\tLDAA\t#\\$00\n${1:WHILE} \tCMPA\t#\\$${2:0A}\n\t\t\tBEQ \tEND_${1:WHILE}\n\t\t\tLDAA\t0,SP\n\t\t\t${4:; code ;}\n\t\t\tPULA\n\t\t\tINCA\n\t\t\tBRA \t${1:WHILE}\nEND_${1:WHILE}\n\t\t\tPULD\n\t\t\t'
    'Header':
      'prefix': 'header'
      'body': """
        ;******************************************************************************;
        ;Lab.asm
        ;
        ;Description:
        ;
        ;Written By: Adam Campbell
        ;
        ;Date Written: 1/24/2017
        ;
        ;Date Modified:
        ;
        ;******************************************************************************;
      """
